[submodule "external/sam3"]
	path = external/sam3
	url = https://github.com/facebookresearch/sam3.git
[submodule "external/hamer"]
	path = external/hamer
	url = https://github.com/mhyatt000/hamer
[submodule "external/roboreg"]
	path = external/roboreg
	url = https://github.com/lbr-stack/roboreg
[submodule "external/sam3d_objects"]
	path = external/sam3d_objects
	url = https://github.com/facebookresearch/sam-3d-objects.git
